DATABASE_URL=postgresql://app_stock_db_user:VUNu6OdXfAlkF38spPVZZnWuXO1XV0Ke@dpg-d2ov3vnfte5s738q1h4g-a.oregon-postgres.render.com/app_stock_db_hiy0
PORT=10000

# API externa Iduo (catalogo de productos)

IDUO_BASE_URL=http://igd.iduo.com.ar/indexinterno.php
IDUO_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE3MzQ0NDc1MDgsImV4cCI6MTczNDUzMzkwOCwiZGF0YSI6eyJpZHVzdWFyaW8iOiI2MzEyIn19.V7WgSo3-LDUJa_lGzdDBXBJrIsp5gB9loELIGosSR3I
IDUO_ID_PADRE=372521
IDUO_SUCURSAL_GRUPO=74
IDUO_DEPOSITO=199
IDUO_TIMEOUT_MS=600000
